BEGIN;
--
-- Create model CoSo
--
CREATE TABLE "quan_ly_hoc_vu_coso" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "ten" varchar(100) NOT NULL, "dia_chi" varchar(255) NULL, "lat" double precision NOT NULL, "lon" double precision NOT NULL, "hinh_anh" varchar(100) NULL);
--
-- Create model GiaoVien
--
CREATE TABLE "quan_ly_hoc_vu_giaovien" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "ten" varchar(100) NOT NULL, "mon_day" varchar(50) NOT NULL, "anh_dai_dien" varchar(100) NULL, "co_so_id" bigint NULL);
--
-- Create model HocVien
--
CREATE TABLE "quan_ly_hoc_vu_hocvien" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "ten" varchar(100) NOT NULL, "dia_chi" varchar(255) NULL, "khoi_lop" integer NOT NULL, "lat" double precision NOT NULL, "lon" double precision NOT NULL, "hinh_anh" varchar(100) NULL, "co_so_gan_nhat_id" bigint NULL);
--
-- Create model HoaDon
--
CREATE TABLE "quan_ly_hoc_vu_hoadon" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "noi_dung" varchar(200) NOT NULL, "so_tien" numeric(12, 0) NOT NULL, "ngay_tao" timestamp with time zone NOT NULL, "trang_thai" varchar(10) NOT NULL, "hoc_vien_id" bigint NOT NULL);
--
-- Create model LopHoc
--
CREATE TABLE "quan_ly_hoc_vu_lophoc" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "ten_lop" varchar(100) NOT NULL, "si_so_toi_da" integer NOT NULL, "min_si_so" integer NOT NULL, "trang_thai" varchar(10) NOT NULL, "giao_vien_id" bigint NULL);
CREATE TABLE "quan_ly_hoc_vu_lophoc_hoc_viens" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "lophoc_id" bigint NOT NULL, "hocvien_id" bigint NOT NULL);
--
-- Create model PhongHoc
--
CREATE TABLE "quan_ly_hoc_vu_phonghoc" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "ten" varchar(50) NOT NULL, "suc_chua" integer NOT NULL, "co_so_id" bigint NOT NULL);
--
-- Create model LichHoc
--
CREATE TABLE "quan_ly_hoc_vu_lichhoc" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "thu" integer NOT NULL, "ca" integer NOT NULL, "lop_hoc_id" bigint NOT NULL, "phong_id" bigint NULL);
ALTER TABLE "quan_ly_hoc_vu_giaovien" ADD CONSTRAINT "quan_ly_hoc_vu_giaov_co_so_id_18053406_fk_quan_ly_h" FOREIGN KEY ("co_so_id") REFERENCES "quan_ly_hoc_vu_coso" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_giaovien_co_so_id_18053406" ON "quan_ly_hoc_vu_giaovien" ("co_so_id");
ALTER TABLE "quan_ly_hoc_vu_hocvien" ADD CONSTRAINT "quan_ly_hoc_vu_hocvi_co_so_gan_nhat_id_d3550c75_fk_quan_ly_h" FOREIGN KEY ("co_so_gan_nhat_id") REFERENCES "quan_ly_hoc_vu_coso" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_hocvien_co_so_gan_nhat_id_d3550c75" ON "quan_ly_hoc_vu_hocvien" ("co_so_gan_nhat_id");
ALTER TABLE "quan_ly_hoc_vu_hoadon" ADD CONSTRAINT "quan_ly_hoc_vu_hoado_hoc_vien_id_6cea74b0_fk_quan_ly_h" FOREIGN KEY ("hoc_vien_id") REFERENCES "quan_ly_hoc_vu_hocvien" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_hoadon_hoc_vien_id_6cea74b0" ON "quan_ly_hoc_vu_hoadon" ("hoc_vien_id");
ALTER TABLE "quan_ly_hoc_vu_lophoc" ADD CONSTRAINT "quan_ly_hoc_vu_lopho_giao_vien_id_80d82e77_fk_quan_ly_h" FOREIGN KEY ("giao_vien_id") REFERENCES "quan_ly_hoc_vu_giaovien" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_lophoc_giao_vien_id_80d82e77" ON "quan_ly_hoc_vu_lophoc" ("giao_vien_id");
ALTER TABLE "quan_ly_hoc_vu_lophoc_hoc_viens" ADD CONSTRAINT "quan_ly_hoc_vu_lophoc_ho_lophoc_id_hocvien_id_2a034c25_uniq" UNIQUE ("lophoc_id", "hocvien_id");
ALTER TABLE "quan_ly_hoc_vu_lophoc_hoc_viens" ADD CONSTRAINT "quan_ly_hoc_vu_lopho_lophoc_id_0a707d48_fk_quan_ly_h" FOREIGN KEY ("lophoc_id") REFERENCES "quan_ly_hoc_vu_lophoc" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "quan_ly_hoc_vu_lophoc_hoc_viens" ADD CONSTRAINT "quan_ly_hoc_vu_lopho_hocvien_id_45fde233_fk_quan_ly_h" FOREIGN KEY ("hocvien_id") REFERENCES "quan_ly_hoc_vu_hocvien" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_lophoc_hoc_viens_lophoc_id_0a707d48" ON "quan_ly_hoc_vu_lophoc_hoc_viens" ("lophoc_id");
CREATE INDEX "quan_ly_hoc_vu_lophoc_hoc_viens_hocvien_id_45fde233" ON "quan_ly_hoc_vu_lophoc_hoc_viens" ("hocvien_id");
ALTER TABLE "quan_ly_hoc_vu_phonghoc" ADD CONSTRAINT "quan_ly_hoc_vu_phong_co_so_id_224bb310_fk_quan_ly_h" FOREIGN KEY ("co_so_id") REFERENCES "quan_ly_hoc_vu_coso" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_phonghoc_co_so_id_224bb310" ON "quan_ly_hoc_vu_phonghoc" ("co_so_id");
ALTER TABLE "quan_ly_hoc_vu_lichhoc" ADD CONSTRAINT "quan_ly_hoc_vu_lichh_lop_hoc_id_722cf181_fk_quan_ly_h" FOREIGN KEY ("lop_hoc_id") REFERENCES "quan_ly_hoc_vu_lophoc" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "quan_ly_hoc_vu_lichhoc" ADD CONSTRAINT "quan_ly_hoc_vu_lichh_phong_id_01614575_fk_quan_ly_h" FOREIGN KEY ("phong_id") REFERENCES "quan_ly_hoc_vu_phonghoc" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_lichhoc_lop_hoc_id_722cf181" ON "quan_ly_hoc_vu_lichhoc" ("lop_hoc_id");
CREATE INDEX "quan_ly_hoc_vu_lichhoc_phong_id_01614575" ON "quan_ly_hoc_vu_lichhoc" ("phong_id");
COMMIT;
