BEGIN;
--
-- Create model CoSo
--
CREATE TABLE "quan_ly_hoc_vu_coso" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "ten" varchar(200) NOT NULL, "lat" double precision NOT NULL, "lon" double precision NOT NULL);
--
-- Create model HocVien
--
CREATE TABLE "quan_ly_hoc_vu_hocvien" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "ten" varchar(200) NOT NULL, "khoi_lop" integer NOT NULL, "lat" double precision NOT NULL, "lon" double precision NOT NULL, "co_so_gan_nhat_id" bigint NULL);
ALTER TABLE "quan_ly_hoc_vu_hocvien" ADD CONSTRAINT "quan_ly_hoc_vu_hocvi_co_so_gan_nhat_id_d3550c75_fk_quan_ly_h" FOREIGN KEY ("co_so_gan_nhat_id") REFERENCES "quan_ly_hoc_vu_coso" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "quan_ly_hoc_vu_hocvien_co_so_gan_nhat_id_d3550c75" ON "quan_ly_hoc_vu_hocvien" ("co_so_gan_nhat_id");
COMMIT;
